<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/fontawesome.css">
    <link rel="stylesheet" href="/webjars/unpoly/3.9.0/unpoly.css">

    <title>{#insert title}Default Title{/}</title>

    <style>
      .table td.fit, .table th.fit {
        white-space: nowrap;
        width: 1%;
      }

      .completed {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5" up-main="">
      <div class="container">
        <h1 class="display-3">{#insert title}Default Title{/}</h1>
      </div>
      {#insert contents}No contents!{/}
    </div>
    <script src="/webjars/unpoly/3.9.0/unpoly.js" type="module"></script>
  </body>
</html>
